.map-form {
	width: 20rem;
	max-width: 90%;
	margin: auto;
	display: block;
}

.map-item {
	width: 20rem;
	max-width: 20%;
	margin: 1rem;
	text-align: center;
}

.map__title {
	font-size: 1.2rem;
	text-align: center;
}

.map_id {
	text-align: center;
	font-size: 0.5rem;
}

.map__image {
	width: 100%;
	text-align: center;
}

.map__detail__image img {
	height: 90% ;
	width: 90%;
}
 
.map__image img {
	height: 25% ;
	width: 25%;
}

.map__number {
	text-align: center;
	color: #4d4d4d;
	margin-bottom: 0.5rem;
}

.map__settlements,
.map__publishdate {
	text-align: center;
}

.pen__image {
	width: 100%;
	text-align: center;
}

.pen__image img {
	height: 80% ;
	width: 80%;
}

.polychromos__layout {
    display: flex;
    align-items: center;   /* ← THIS aligns the image vertically */
    gap: 40px;
    margin-top: 20px;
}

.polychromos__detail-column {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.polychromos__detail {
    display: flex;
    align-items: center;
    gap: 12px;
}

.polychromos__image {
	width: 50%;
	text-align: center;
}

.polychromos__image img {
	height: 50% ;
	width: 50%;
}

.colour-square {
    width: var(--size, 100px);
    height: var(--size, 100px);
    border-radius: 4px;
    background-color: rgb(var(--r), var(--g), var(--b));
    flex-shrink: 0;
}

.colour-square-small { --size: 100px;}

.colour-wrapper {
    display: flex;
    justify-content: center;
    margin: 12px 0;
}
